In [16]:
import numpy as np
import pandas as pd
import biosppy
import pyhrv.tools as tools
from pyhrv.hrv import hrv

In [23]:
# 4.12 데이터 기준임 
fp = pd.read_csv('/Users/dayeong/Downloads/all_intradata_dy.csv')

In [18]:
fp.head()

      time  value        date
0  0:00:01     83  2022-04-12
1  0:00:06     86  2022-04-12
2  0:00:11     85  2022-04-12
3  0:00:16     83  2022-04-12
4  0:00:21     84  2022-04-12

In [19]:
fp.tail()

           time  value        date
12649  23:58:22     70  2022-04-12
12650  23:58:27     68  2022-04-12
12651  23:58:42     67  2022-04-12
12652  23:58:52     68  2022-04-12
12653  23:58:57     70  2022-04-12

In [20]:
nn_intervals = 60000/ fp['value']

In [24]:
nn_intervals

0        722.891566
1        697.674419
2        705.882353
3        722.891566
4        714.285714
            ...
12649    857.142857
12650    882.352941
12651    895.522388
12652    882.352941
12653    857.142857
Name: value, Length: 12654, dtype: float64

In [21]:
def get_time_domain_features(nn_intervals) -> dict:

    diff_nni = np.diff(nn_intervals)
    length_int = len(nn_intervals)

    # Basic statistics
    mean_nni = np.mean(nn_intervals)
    median_nni = np.median(nn_intervals)
    range_nni = max(nn_intervals) - min(nn_intervals)

    sdsd = np.std(diff_nni)
    rmssd = np.sqrt(np.mean(diff_nni ** 2))

    nni_50 = sum(np.abs(diff_nni) > 50)
    pnni_50 = 100 * nni_50 / length_int
    nni_20 = sum(np.abs(diff_nni) > 20)
    pnni_20 = 100 * nni_20 / length_int

    # Feature found on github and not in documentation
    cvsd = rmssd / mean_nni

    # Features only for long term recordings
    sdnn = np.std(nn_intervals, ddof=1)  # ddof = 1 : unbiased estimator => divide std by n-1
    cvnni = sdnn / mean_nni

    # Heart Rate equivalent features
    heart_rate_list = np.divide(60000, nn_intervals)
    mean_hr = np.mean(heart_rate_list)
    min_hr = min(heart_rate_list)
    max_hr = max(heart_rate_list)
    std_hr = np.std(heart_rate_list)

    time_domain_features = {
        'mean_nni': mean_nni,
        'sdnn': sdnn,
        'sdsd': sdsd,
        'nni_50': nni_50,
        'pnni_50': pnni_50,
        'nni_20': nni_20,
        'pnni_20': pnni_20,
        'rmssd': rmssd,
        'median_nni': median_nni,
        'range_nni': range_nni,
        'cvsd': cvsd,
        'cvnni': cvnni,
        'mean_hr': mean_hr,
        "max_hr": max_hr,
        "min_hr": min_hr,
        "std_hr": std_hr,
    }

    return time_domain_features

In [22]:
get_time_domain_features(nn_intervals)

{'mean_nni': 711.6311740667512,
 'sdnn': 114.40747223732258,
 'sdsd': 16.919303007173355,
 'nni_50': 130,
 'pnni_50': 1.0273431326062905,
 'nni_20': 2226,
 'pnni_20': 17.59127548601233,
 'rmssd': 16.919306334055513,
 'median_nni': 705.8823529411765,
 'range_nni': 611.5437471369675,
 'cvsd': 0.02377538667589129,
 'cvnni': 0.16076793205041792,
 'mean_hr': 86.62920815552394,
 'max_hr': 148.0,
 'min_hr': 59.0,
 'std_hr': 14.7046531780988}